{%- assign t = site.data.i18n[include.lang] -%}
{%- assign midx = include.date | date: "%-m" | plus: 0 | minus: 1 -%}
{%- assign month = t.months[midx] -%}
{%- if include.weekday -%}
  {%- assign didx = include.date | date: "%w" | plus: 0 -%}
  {%- assign day = t.days[didx] -%}
{%- endif -%}
{%- if include.lang == "fr" -%}
{% if day %}{{ day }} {% endif %}{{ include.date | date: "%-d" }} {{ month }} {{ include.date | date: "%Y" }}
{%- else -%}
{% if day %}{{ day }}, {% endif %}{{ month }} {{ include.date | date: "%-d" }}, {{ include.date | date: "%Y" }}
{%- endif -%}
