{%- assign t = site.data.i18n[page.lang] -%}
{%- assign about  = site.pages | where: "ref", "about"  | where_exp: "p", "p.lang == page.lang" | first -%}
{%- assign people = site.pages | where: "ref", "people" | where_exp: "p", "p.lang == page.lang" | first -%}
{%- assign events = site.pages | where: "ref", "events" | where_exp: "p", "p.lang == page.lang" | first -%}
{%- if about or people or events %}
<ul class="onward">
  {%- if about %}
  <li><a href="{{ about.url | relative_url }}">{{ t.home.onward.about }}</a></li>
  {%- endif %}
  {%- if people %}
  <li><a href="{{ people.url | relative_url }}">{{ t.home.onward.people }}</a></li>
  {%- endif %}
  {%- if events %}
  <li><a href="{{ events.url | relative_url }}">{{ t.home.onward.events }}</a></li>
  {%- endif %}
</ul>
{%- endif -%}
